*  {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    text-decoration: none;
    list-style-type: none;
}
.clearfix:after  {
    content: "";
    display: table;
    clear: both;
}
:root  {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}
body  {
    padding: 0%;
    outline: none;
    color: white;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    height: 100%;
}
img  {
    object-fit: cover;
}

/* design for mobile goes in here */

.top_nav_container  {
    background-color: black;
    opacity: 0.9;
    top: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: auto;
    justify-content: auto;
    color: lightgray;
    width: 100%;
    height: 3rem;
    margin: 0%;
    padding: 0%;
    outline: none;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
    position: fixed;
    z-index: +1;
}
.toggle_bar  {
    width: 30%;
    height: 2rem;
    text-align: left;
    padding-block: 5px;
    margin-top: 0%;
    margin-inline: 0%;
    padding-inline: 0%;
    outline: 0%;
    overflow-y: hidden;
}
.bar  {
    width: 30px;
    height: 6px;
    background-color: lightgray;
    margin-block: 2px;
    margin-inline: 0%;
    padding-inline: 0%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bar:hover  {
    background-color: white;
    transform: scale(0.5, 0.5);
}
.cf4  {
    width: 40%;
    height: auto;
    margin-top: auto;
    margin-right: 30%;
    padding: 0%;
    overflow-y: hidden;
    background-color: inherit;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.author  {
    color: white;
    height: auto;
    width: auto;
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    margin-bottom: auto;
}
.a  {
    text-align: center;
    top: 0%;
    font-size: large;
    font-weight: bold;
}
.a_img  {
    border-radius: 50%;
    border: 2px solid grey;
    width: 100px;
    height: 100px;
    margin: 0%;
    outline: none;
    text-align: left;
    cursor: not-allowed;
}
#a_name  {
    margin-left: 10px;
    text-align: right;
    overflow-wrap: break-word;
    font-size: small;
    cursor: pointer;
}
#a_msg:hover  {
    text-shadow: 1px 1px white,
                 1px 1px white;
    color: white;
}
#a_message  {
    font-size: medium;
    text-align: left;
    cursor: pointer;
    margin-left: 10px;
    overflow-wrap: break-word;
    display: none;
    color: grey;
}
.accordion  {
    display: none;
    position: fixed;
    height: auto;
    width: 40%;
    margin-inline: 30%;
    top: 3rem;
    z-index: +1;
    outline: none;
    cursor: pointer;
}
.panel  {
    width: 100%;
    height: auto;
    margin: none;
    outline: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200;
    align-items: center;
    justify-content: center;
    z-index: +1;
    font-size: larger;
    font-weight: bolder;
}
#panel_item  {
    text-decoration: none;
    color: lightgray;
}
.home  {
    display: block;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    margin-block-start: 3rem;
    outline: none;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
}
.main  {
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    margin-inline: 18px;
    outline: none;
    font-size: large;
    overflow-y: auto;
    overflow-x: hidden;
}
#txt  {
    text-align: justify;
    line-break: auto;
    line-height: auto;
}
.youtube_vid  {
    display: inline-block;
    text-align: left;
    color: lightgray;
    max-width: 100%;
    height: auto;
    background-color: #000000;
    cursor: pointer;
}
.footer_container  {
    display: block;
    text-align: left;
    width: 100%;
    height: auto;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
}
.footer_icons a i  {
    display: inline-block;
    width: auto;
    height: auto;
    padding-inline: 10px;
    color: lightgray;
    transition: all 0.3s ease-out;
    animation-name: footeranimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 60px;
    overflow: hidden;
}
.footer_icons i  {
    transition: all 0.3s ease;
}
.footer_icons i:hover  {
    transform: translateX(500px);
    transform: rotate(180deg);
}
.footer_gettext  {
    margin-top: 0%;
    padding-top: 0%;
    outline: none;
    font-weight: bolder;
    font-size: small;
    color: lightgray;
    transition: all 0.3s ease-out;
    animation-name: footeranimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.footer_text  {
    margin-top: 0%;
    padding-top: 0%;
    /* outline: none; */
    font-weight: bolder;
    font-size: small;
    color: lightgray;
    /* transition: all 0.3s ease-out;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}
#foot_txt_link  {
    color: lightgray;
    text-decoration: none;
    transition: all 0.3s ease-out;
    animation-name: footeranimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes footeranimate  {
    0%  {
        color: lightgray;
    }
    25%  {
        color: darkgray;
    }
    50%  {
        color: tomato;
    }
    75%  {
        color: red;
    }
    100%  {
        color: darkred;
    }
}
/* design for mobile ends here */


/* design for large screen sizes starts here */
@media only screen and (min-width: 600px) {
    .main  {
        margin-block-start: 2rem;
        text-align: center;
        flex:60%;
        width: 60%;
        margin-inline: 20%;
        width:60%;
        height:100%;
        overflow:auto;
    }
    .accordion  {
        display: none;
        position: fixed;
        height: auto;
        width: 20%;
        margin-left: 0%;
        margin-block-start: 3rem;
        top: 0%;
        z-index: +1;
        outline: none;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-wrap: break-word;
    }
}

/* design for large screen ends here */